form{
  display:block;
  width:50%;
  margin:0 auto;
  font-family: 'Poppins', 'sans-serif';
}
.row h1{
  padding: 50px;
  font-family: 'Poppins', 'sans-serif';
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
button{
  display: block;
  width: 40%;
  margin:0 auto;
}
