h3{
  text-align: center;
  font-family: Poppins;
  font-size: 2rem;
  color: purple;
}
.table{
  margin-top: 30px;
}
#logo-icon-delete{
  font-size: 1.3rem;
  color: #FF0000;
}
#logo-icon-delete:hover{
  font-size: 1.3rem;
  color: #B91646;
}
#logo-icon-edit{
  font-size: 1.3rem;
  color: #3E7C17;
}
#logo-icon-edit:hover{
  font-size: 1.3rem;
  color: #125C13;
}
#logo-icon-calculate{
  font-size: 1.3rem;
  color: #22577A;
}
#logo-icon-calculate:hover{
  font-size: 1.3rem;
  color: #2C2891;
}

