button.btn.btn-primary{
  width: 30%;
}
h3{
  font-size: 1.5rem;
  font-family: 'Poppins', 'sans-serif';
  font-weight: 600;
  color: purple;
  margin-bottom: 20px;
}

.btn.btn-primary{
  background-color: purple;
  border-color: purple;
  margin-left: 0;
}
.btn.btn-primary:hover{
  background-color: #C32BAD;
  border-color: #C32BAD;
}

.product-label{
  font-family: Poppins;
  font-weight: 450;
}

.btn.btn-success{
  background-color: #E93B81;
  border-color: #E93B81;
  width: 30%;
  margin-left: 10px;
}
.btn.btn-success:hover{
  background-color: #EB92BE;
  border-color: #EB92BE;
  width: 30%;
}
