<div class="container">
  <div class="row" style="margin-top: 10px">
    <div class="col-md-6">
      <img src="assets/images/login_v2.png" alt="login-image">
    </div>
    <div class="col-md-6">
      <h1>Login</h1>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="row"><a href="#">Forgot password?</a></div>
        <div class="row" style="background-color: #EEF2F5; padding: 20px 0px 10px">
          <p>OR</p>
          <p>Login with</p>
          <span style="text-align: center"><i class="fab fa-google logo-icon"></i>
          <i class="fab fa-facebook-f logo-icon"></i>
        <i class="fab fa-twitter logo-icon"></i></span>
        </div>
        <div class="row">
          <a href="#" style="color: green" routerLink="/signup" routerLinkActive="active">Don't have an account? Signup here</a>
        </div>
      </form>
    </div>
  </div>
</div>
