<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 id="heading">WELCOME</h1>
      <h1 id="lower-heading">TO LOAN API</h1>
      <p>Lets try our new product. In this API you can insert a product or get a product by its product id and also you
        can calculate EMI for that product. In this API we have used spring boot for backend and angular for
        frontend.</p>
      <a class="btn btn-success" routerLink="/post-product">Enter A New Product</a>
      <a class="btn btn-outline-danger" routerLink="/get-single-product" routerLinkActive="active">Get Product Detail</a>
    </div>
    <div class="col-md-6">
      <img src="assets/images/image1.png" alt="finance-image">
    </div>
  </div>
</div>
